@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: YekanBak-Regular;
  font-weight: 400;
  src: url('../src/fonts/YekanBakhFaNum-Regular.woff') format("woff");
}
@font-face {
  font-family: YekanBak-SemiBold;
  font-weight: 600;
  src: url('../src/fonts/YekanBakhFaNum-SemiBold.woff') format("woff");
}
@font-face {
  font-family: YekanBak-Bold;
  font-weight: 700;
  src: url('../src/fonts/YekanBakhFaNum-Bold.woff') format("woff");
}
@font-face {
  font-family: YekanBak-ExtraBold;
  font-weight: 800;
  src: url('../src/fonts/YekanBakhFaNum-ExtraBold.woff') format("woff");
}
@font-face {
  font-family: YekanBak-Black;
  font-weight: 900;
  src: url('../src/fonts/YekanBakhFaNum-Black.woff') format("woff");
}
@font-face {
  font-family: Montserrat-Regular;

  src: url('../src/fonts/Montserrat-Regular.ttf') format("trueType");
}
@font-face {
  font-family: Montserrat-Bold;

  src: url('../src/fonts/Montserrat-Bold.ttf') format("trueType");
}
.font-normal{
  font-weight: 400;
  @apply rtl:font-yekanBakhRegular ltr:font-MontserratRegular;
}
.font-medium{
  font-weight: 500;
  @apply rtl:font-yekanBakhMedium;
}
.font-semibold{
  font-weight: 600;
  @apply rtl:font-yekanBakhSemiBold ltr:font-MontserratBold;
}
.font-bold{
  font-weight: 700;
  @apply rtl:font-yekanBakhBold ltr:font-MontserratBold;
}
.font-extrabold{
  font-weight: 800;
  @apply rtl:font-yekanBakhExtraBold ltr:font-MontserratBold;
}
.font-black{
  font-weight: 900;
  @apply rtl:font-yekanBakhBlack ltr:font-MontserratBold;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: YekanBak-Regular!important;
  user-select: none;
  overflow-x: hidden;
  background-color: #F5F5F5;
}
/* global styles */
a {
  cursor: pointer;
  transition: all .4s
}
.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.transition {
  @apply transition-all duration-300;
}
.overlay{
  position: relative;
}
.overlay::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(0deg, rgba(6, 156, 223, 0.36), rgba(6, 156, 223, 0.36)),
linear-gradient(180deg, #069CDF 42.79%, rgba(6, 156, 223, 0.48) 126.57%);
}
.bg-gradient-1{
  background: linear-gradient(90deg, #069CDF 4.79%, rgba(0, 77, 139, 0.11) 100%);
}
.shadow-1{
  box-shadow: 0px 0px 199.4px 0px #0000001A;
}
.shadow-2{
  box-shadow: 12px 5px 20.5px 7px rgba(0, 77, 139, 0.47);
}
.shadow-3{
  box-shadow: 0px 0px 39.4px 0px #004D8B61;
}
.ltrReverse{
  @apply ltr:[transform:rotateY(180deg)];
}
/* swiper */
.swiper-button-prev::after,.swiper-button-next::after {
  content: none !important;
}
.banner .swiper-pagination-bullet{
  width: 10px;
  height: 7px;
  border-radius: 60px;
  background-color: #00000040;
  opacity: 100%;
  transition: all .4s;
}
.banner .swiper-pagination-bullet-active{
  width: 34px;
  background-color: white;
}